// Colors
// Primary
$darkCyan: hsl(185, 75%, 39%);
$DarkBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
// Neutral
$darkGray: hsl(0, 0%, 59%);

// Font Size
$font-sm: 0.875rem; //14px
$font-md: 1rem; //16px
$font-lg: 1.125rem; //18px

// Font Weight
$font-normal: 400;
$font-bold: 700;